![Movies_ERD.png](Data/Movies_ERD.png)

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

In [2]:
import json
with open('/Users/dmusl/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [3]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/movies"
engine = create_engine(connection)
conn = engine.connect()

In [4]:
# Previewing the names of all tables 
q = '''SHOW TABLES;'''
pd.read_sql(q, conn)

  Tables_in_movies
0           genres
1          ratings
2     title_basics
3     title_genres

In [5]:
title_basics = pd.read_csv('Data/titles_filtered.csv', low_memory=False)

In [6]:
title_basics.head()

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,93930,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [7]:
title_basics.dtypes

Unnamed: 0          int64
tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult             int64
startYear         float64
endYear           float64
runtimeMinutes      int64
genres             object
dtype: object

In [8]:
ratings = pd.read_csv('Data/ratings_filtered.csv', low_memory=False)

In [9]:
ratings.head()

   Unnamed: 0     tconst  averageRating  numVotes
0       17961  tt0035423            6.4     87153
1       40764  tt0062336            6.4       175
2       46645  tt0069049            6.7      7754
3       63640  tt0088751            5.2       336
4       69953  tt0096056            5.6       846

In [10]:
ratings.dtypes

Unnamed: 0         int64
tconst            object
averageRating    float64
numVotes           int64
dtype: object

In [11]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

It exists!

In [12]:
q= '''SELECT * FROM genres'''
pd.read_sql(q, engine)

Empty DataFrame
Columns: [genre_id, genre_name, created_at, updated_at]
Index: []

In [13]:
q = '''DESCRIBE genres;'''
describe = pd.read_sql(q, engine)
describe

,Field,Type,Null,Key,Default,Extra
0,genre_id,int,NO,PRI,None,auto_increment
1,genre_name,varchar(45),YES,,None,
2,created_at,datetime,YES,,CURRENT_TIMESTAMP,DEFAULT_GENERATED
3,updated_at,datetime,YES,,CURRENT_TIMESTAMP,DEFAULT_GENERATED on update CURRENT_TIMESTAMP

In [14]:
q= '''SELECT * FROM ratings'''
pd.read_sql(q, engine)

,tconst,average_rating,number_of_votes,updated_at,created_at
0,tt0035423,6.4,87153,2023-10-13 00:05:39,2023-10-13 00:05:39
1,tt0062336,6.4,175,2023-10-13 00:05:39,2023-10-13 00:05:39
2,tt0069049,6.7,7754,2023-10-13 00:05:39,2023-10-13 00:05:39
3,tt0088751,5.2,336,2023-10-13 00:05:39,2023-10-13 00:05:39
4,tt0096056,5.6,846,2023-10-13 00:05:39,2023-10-13 00:05:39
...,...,...,...,...,...
71895,tt9914942,6.6,178,2023-10-13 00:05:42,2023-10-13 00:05:42
71896,tt9915872,6.4,9,2023-10-13 00:05:42,2023-10-13 00:05:42
71897,tt9916170,7.0,7,2023-10-13 00:05:42,2023-10-13 00:05:42
71898,tt9916190,3.7,243,2023-10-13 00:05:42,2023-10-13 00:05:42
71899,tt9916362,6.4,5422,2023-10-13 00:05:42,2023-10-13 00:05:42

In [15]:
q = '''DESCRIBE ratings;'''
describe = pd.read_sql(q, engine)
describe

,Field,Type,Null,Key,Default,Extra
0,tconst,varchar(12),NO,PRI,None,
1,average_rating,float,YES,,None,
2,number_of_votes,int,YES,,None,
3,updated_at,datetime,YES,,CURRENT_TIMESTAMP,DEFAULT_GENERATED on update CURRENT_TIMESTAMP
4,created_at,datetime,YES,,CURRENT_TIMESTAMP,DEFAULT_GENERATED

In [16]:
# Checking describe's Field names
describe['Field'].values

array(['tconst', 'average_rating', 'number_of_votes', 'updated_at',
       'created_at'], dtype=object)

In [17]:
# Checking dataframe's columns
ratings.columns

Index(['Unnamed: 0', 'tconst', 'averageRating', 'numVotes'], dtype='object')

In [18]:
ratings = ratings.drop(columns=['Unnamed: 0'])
ratings.head()

      tconst  averageRating  numVotes
0  tt0035423            6.4     87153
1  tt0062336            6.4       175
2  tt0069049            6.7      7754
3  tt0088751            5.2       336
4  tt0096056            5.6       846

In [19]:
# Rename columns to match SQL table
rename_map = {"averageRating":"average_rating",
             "numVotes":"number_of_votes"}
ratings = ratings.rename(rename_map,axis=1)
ratings.head()

      tconst  average_rating  number_of_votes
0  tt0035423             6.4            87153
1  tt0062336             6.4              175
2  tt0069049             6.7             7754
3  tt0088751             5.2              336
4  tt0096056             5.6              846

In [20]:
# Checking the setting for FOREIGN_KEY_CHECKS
q = """SELECT @@FOREIGN_KEY_CHECKS"""
pd.read_sql(q, conn)

   @@FOREIGN_KEY_CHECKS
0                     1

In [21]:
# Changing the setting for FOREIGN_KEY_CHECKS with the connection
q = """SET @@FOREIGN_KEY_CHECKS=0"""
conn.execute(q)

In [22]:
# Confirm the checks are deactiavated
q = """SELECT @@FOREIGN_KEY_CHECKS"""
pd.read_sql(q,conn)

   @@FOREIGN_KEY_CHECKS
0                     0

In [23]:
#inserting data
ratings.to_sql("ratings",conn,index=False, if_exists='append')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'tt0035423' for key 'ratings.PRIMARY'")
[SQL: INSERT INTO ratings (tconst, average_rating, number_of_votes) VALUES (%(tconst)s, %(average_rating)s, %(number_of_votes)s)]
[parameters: ({'tconst': 'tt0035423', 'average_rating': 6.4, 'number_of_votes': 87153}, {'tconst': 'tt0062336', 'average_rating': 6.4, 'number_of_votes': 175}, {'tconst': 'tt0069049', 'average_rating': 6.7, 'number_of_votes': 7754}, {'tconst': 'tt0088751', 'average_rating': 5.2, 'number_of_votes': 336}, {'tconst': 'tt0096056', 'average_rating': 5.6, 'number_of_votes': 846}, {'tconst': 'tt0100275', 'average_rating': 6.5, 'number_of_votes': 347}, {'tconst': 'tt0103340', 'average_rating': 6.3, 'number_of_votes': 354}, {'tconst': 'tt0108549', 'average_rating': 7.7, 'number_of_votes': 33}  ... displaying 10 of 71900 total bound parameter sets ...  {'tconst': 'tt9916190', 'average_rating': 3.7, 'number_of_votes': 243}, {'tconst': 'tt9916362', 'average_rating': 6.4, 'number_of_votes': 5422})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [24]:
from sqlalchemy.types import VARCHAR, FLOAT, INTEGER, DATE, DATETIME

In [25]:
ratings_dtypes  = {'tconst':VARCHAR(12),
                    'average_rating':FLOAT,
                    'number_of_votes':INTEGER,
                    'created_at':DATETIME,
                    'updated_at':DATETIME}
ratings_dtypes

{'tconst': VARCHAR(length=12),
 'average_rating': sqlalchemy.sql.sqltypes.FLOAT,
 'number_of_votes': sqlalchemy.sql.sqltypes.INTEGER,
 'created_at': sqlalchemy.sql.sqltypes.DATETIME,
 'updated_at': sqlalchemy.sql.sqltypes.DATETIME}

In [26]:
# Changing if_exists to replace to demo consequences.
ratings.to_sql("ratings",conn, index=False, if_exists='replace',
                dtype=ratings_dtypes)
# Checking the describe again
q = """DESCRIBE ratings;"""
pd.read_sql(q,conn)

             Field         Type Null Key Default Extra
0           tconst  varchar(12)  YES        None
1   average_rating        float  YES        None
2  number_of_votes          int  YES        None

In [27]:
q = """ALTER TABLE ratings ADD created_at DATETIME DEFAULT NOW()"""
conn.execute(q)

In [28]:
q = """ALTER TABLE ratings ADD updated_at DATETIME DEFAULT NOW() ON UPDATE NOW();"""
conn.execute(q)

In [29]:
# confirm the data has been added
q = """SELECT * FROM ratings;"""
pd.read_sql(q,conn)

,tconst,average_rating,number_of_votes,created_at,updated_at
0,tt0035423,6.4,87153,2023-10-13 05:05:51,2023-10-13 05:07:38
1,tt0062336,6.4,175,2023-10-13 05:05:51,2023-10-13 05:07:38
2,tt0069049,6.7,7754,2023-10-13 05:05:51,2023-10-13 05:07:38
3,tt0088751,5.2,336,2023-10-13 05:05:51,2023-10-13 05:07:38
4,tt0096056,5.6,846,2023-10-13 05:05:51,2023-10-13 05:07:38
...,...,...,...,...,...
71895,tt9914942,6.6,178,2023-10-13 05:05:51,2023-10-13 05:07:38
71896,tt9915872,6.4,9,2023-10-13 05:05:51,2023-10-13 05:07:38
71897,tt9916170,7.0,7,2023-10-13 05:05:51,2023-10-13 05:07:38
71898,tt9916190,3.7,243,2023-10-13 05:05:51,2023-10-13 05:07:38
71899,tt9916362,6.4,5422,2023-10-13 05:05:51,2023-10-13 05:07:38

In [30]:
q= '''SELECT * FROM title_basics'''
pd.read_sql(q, engine)

,tconst,primary_title,start_year,runtime,created_at,updated_at
0,tt0035423,Kate & Leopold,2001,118,2023-10-13 00:05:46,2023-10-13 00:05:46
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,70,2023-10-13 00:05:46,2023-10-13 00:05:46
2,tt0069049,The Other Side of the Wind,2018,122,2023-10-13 00:05:46,2023-10-13 00:05:46
3,tt0088751,The Naked Monster,2005,100,2023-10-13 00:05:46,2023-10-13 00:05:46
4,tt0096056,Crime and Punishment,2002,126,2023-10-13 00:05:46,2023-10-13 00:05:46
...,...,...,...,...,...,...
86974,tt9914942,Life Without Sara Amat,2019,74,2023-10-13 00:05:51,2023-10-13 00:05:51
86975,tt9915872,The Last White Witch,2019,97,2023-10-13 00:05:51,2023-10-13 00:05:51
86976,tt9916170,The Rehearsal,2019,51,2023-10-13 00:05:51,2023-10-13 00:05:51
86977,tt9916190,Safeguard,2020,95,2023-10-13 00:05:51,2023-10-13 00:05:51
86978,tt9916362,Coven,2020,92,2023-10-13 00:05:51,2023-10-13 00:05:51

In [31]:
q = '''DESCRIBE title_basics;'''
describe = pd.read_sql(q, engine)
describe

,Field,Type,Null,Key,Default,Extra
0,tconst,varchar(12),NO,PRI,None,
1,primary_title,varchar(242),YES,,None,
2,start_year,varchar(45),YES,,None,
3,runtime,int,YES,,None,
4,created_at,datetime,YES,,CURRENT_TIMESTAMP,DEFAULT_GENERATED
5,updated_at,datetime,YES,,CURRENT_TIMESTAMP,DEFAULT_GENERATED on update CURRENT_TIMESTAMP

In [32]:
# Checking describe's Field names
describe['Field'].values

array(['tconst', 'primary_title', 'start_year', 'runtime', 'created_at',
       'updated_at'], dtype=object)

In [33]:
# Checking dataframe's columns
title_basics.columns

Index(['Unnamed: 0', 'tconst', 'titleType', 'primaryTitle', 'originalTitle',
       'isAdult', 'startYear', 'endYear', 'runtimeMinutes', 'genres'],
      dtype='object')

In [34]:
# Rename columns to match SQL table
rename_map = {"primaryTitle":"primary_title",
             "startYear":"start_year",
             "runtimeMinutes":"runtime"}
title_basics = title_basics.rename(rename_map,axis=1)
title_basics.head()

,Unnamed: 0,tconst,titleType,primary_title,originalTitle,isAdult,start_year,endYear,runtime,genres
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,93930,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [35]:
title_basics.dtypes

Unnamed: 0         int64
tconst            object
titleType         object
primary_title     object
originalTitle     object
isAdult            int64
start_year       float64
endYear          float64
runtime            int64
genres            object
dtype: object

In [36]:
title_basics.drop(columns=['Unnamed: 0'])

,tconst,titleType,primary_title,originalTitle,isAdult,start_year,endYear,runtime,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama
...,...,...,...,...,...,...,...,...,...
86974,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama
86975,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
86976,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
86977,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
86978,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

In [39]:
# dropping columns to match the data to the table
titles_table = title_basics.drop(columns=['titleType','Unnamed: 0','originalTitle','isAdult','endYear','genres'])

In [40]:
titles_table.dtypes

tconst            object
primary_title     object
start_year       float64
runtime            int64
dtype: object

In [41]:
titles_table.to_sql("title_basics",conn,index=False, if_exists='append')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'tt0035423' for key 'title_basics.PRIMARY'")
[SQL: INSERT INTO title_basics (tconst, primary_title, start_year, runtime) VALUES (%(tconst)s, %(primary_title)s, %(start_year)s, %(runtime)s)]
[parameters: ({'tconst': 'tt0035423', 'primary_title': 'Kate & Leopold', 'start_year': 2001.0, 'runtime': 118}, {'tconst': 'tt0062336', 'primary_title': 'The Tango of the Widower and Its Distorting Mirror', 'start_year': 2020.0, 'runtime': 70}, {'tconst': 'tt0069049', 'primary_title': 'The Other Side of the Wind', 'start_year': 2018.0, 'runtime': 122}, {'tconst': 'tt0088751', 'primary_title': 'The Naked Monster', 'start_year': 2005.0, 'runtime': 100}, {'tconst': 'tt0096056', 'primary_title': 'Crime and Punishment', 'start_year': 2002.0, 'runtime': 126}, {'tconst': 'tt0100275', 'primary_title': 'The Wandering Soap Opera', 'start_year': 2017.0, 'runtime': 80}, {'tconst': 'tt0103340', 'primary_title': 'Life for Life: Maximilian Kolbe', 'start_year': 2006.0, 'runtime': 90}, {'tconst': 'tt0108549', 'primary_title': 'West from North Goes South', 'start_year': 2004.0, 'runtime': 96}  ... displaying 10 of 86979 total bound parameter sets ...  {'tconst': 'tt9916190', 'primary_title': 'Safeguard', 'start_year': 2020.0, 'runtime': 95}, {'tconst': 'tt9916362', 'primary_title': 'Coven', 'start_year': 2020.0, 'runtime': 92})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [42]:

title_basics_dtypes  = {'tconst':VARCHAR(),
                    'primary_title':VARCHAR(),
                    'runtime':INTEGER,
                        'start_year':FLOAT,
                    'created_at':DATETIME,
                    'updated_at':DATETIME}
title_basics_dtypes

{'tconst': VARCHAR(),
 'primary_title': VARCHAR(),
 'runtime': sqlalchemy.sql.sqltypes.INTEGER,
 'start_year': sqlalchemy.sql.sqltypes.FLOAT,
 'created_at': sqlalchemy.sql.sqltypes.DATETIME,
 'updated_at': sqlalchemy.sql.sqltypes.DATETIME}

In [43]:
# Changing if_exists to replace to demo consequences.
titles_table.to_sql("title_basics",conn, index=False, if_exists='replace',
                dtype=ratings_dtypes)
# Checking the describe again
q = """DESCRIBE title_basics;"""
pd.read_sql(q,conn)

           Field         Type Null Key Default Extra
0         tconst  varchar(12)  YES        None
1  primary_title         text  YES        None
2     start_year       double  YES        None
3        runtime       bigint  YES        None

In [44]:
q = """ALTER TABLE title_basics ADD created_at DATETIME DEFAULT NOW()"""
conn.execute(q)

In [46]:
q = """ALTER TABLE title_basics ADD updated_at DATETIME DEFAULT NOW() ON UPDATE NOW();"""
conn.execute(q)

In [47]:
# confirm the data has been added
q = """SELECT * FROM title_basics;"""
pd.read_sql(q,conn)

,tconst,primary_title,start_year,runtime,created_at,updated_at
0,tt0035423,Kate & Leopold,2001.0,118,2023-10-13 05:24:22,2023-10-13 05:26:05
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,2023-10-13 05:24:22,2023-10-13 05:26:05
2,tt0069049,The Other Side of the Wind,2018.0,122,2023-10-13 05:24:22,2023-10-13 05:26:05
3,tt0088751,The Naked Monster,2005.0,100,2023-10-13 05:24:22,2023-10-13 05:26:05
4,tt0096056,Crime and Punishment,2002.0,126,2023-10-13 05:24:22,2023-10-13 05:26:05
...,...,...,...,...,...,...
86974,tt9914942,Life Without Sara Amat,2019.0,74,2023-10-13 05:24:22,2023-10-13 05:26:05
86975,tt9915872,The Last White Witch,2019.0,97,2023-10-13 05:24:22,2023-10-13 05:26:05
86976,tt9916170,The Rehearsal,2019.0,51,2023-10-13 05:24:22,2023-10-13 05:26:05
86977,tt9916190,Safeguard,2020.0,95,2023-10-13 05:24:22,2023-10-13 05:26:05
86978,tt9916362,Coven,2020.0,92,2023-10-13 05:24:22,2023-10-13 05:26:05

In [48]:
# Preview the names of all tables 
q = '''SHOW TABLES;'''
pd.read_sql(q, engine)

  Tables_in_movies
0           genres
1          ratings
2     title_basics
3     title_genres

In [49]:
q= '''SELECT * FROM genres LIMIT 5;'''
pd.read_sql(q, engine)

Empty DataFrame
Columns: [genre_id, genre_name, created_at, updated_at]
Index: []

In [50]:
q = '''DESCRIBE genres;'''
describe = pd.read_sql(q, engine)
describe

,Field,Type,Null,Key,Default,Extra
0,genre_id,int,NO,PRI,None,auto_increment
1,genre_name,varchar(45),YES,,None,
2,created_at,datetime,YES,,CURRENT_TIMESTAMP,DEFAULT_GENERATED
3,updated_at,datetime,YES,,CURRENT_TIMESTAMP,DEFAULT_GENERATED on update CURRENT_TIMESTAMP

In [51]:
q= '''SELECT * FROM title_genres LIMIT 5;'''
pd.read_sql(q, engine)

Empty DataFrame
Columns: [tconst, genre_id]
Index: []

In [52]:
q = '''DESCRIBE title_genres;'''
describe = pd.read_sql(q, engine)
describe

      Field         Type Null Key Default Extra
0    tconst  varchar(12)  YES        None
1  genre_id          int  YES        None

In [53]:
q= '''SELECT * FROM ratings
LIMIT 5'''
pd.read_sql(q, engine)

,tconst,average_rating,number_of_votes,created_at,updated_at
0,tt0035423,6.4,87153,2023-10-13 05:05:51,2023-10-13 05:07:38
1,tt0062336,6.4,175,2023-10-13 05:05:51,2023-10-13 05:07:38
2,tt0069049,6.7,7754,2023-10-13 05:05:51,2023-10-13 05:07:38
3,tt0088751,5.2,336,2023-10-13 05:05:51,2023-10-13 05:07:38
4,tt0096056,5.6,846,2023-10-13 05:05:51,2023-10-13 05:07:38

In [54]:
q = '''DESCRIBE ratings;'''
describe = pd.read_sql(q, engine)
describe

,Field,Type,Null,Key,Default,Extra
0,tconst,varchar(12),YES,,None,
1,average_rating,float,YES,,None,
2,number_of_votes,int,YES,,None,
3,created_at,datetime,YES,,CURRENT_TIMESTAMP,DEFAULT_GENERATED
4,updated_at,datetime,YES,,CURRENT_TIMESTAMP,DEFAULT_GENERATED on update CURRENT_TIMESTAMP

In [55]:
q= '''SELECT * FROM title_basics LIMIT 5;'''
pd.read_sql(q, engine)

,tconst,primary_title,start_year,runtime,created_at,updated_at
0,tt0035423,Kate & Leopold,2001.0,118,2023-10-13 05:24:22,2023-10-13 05:26:05
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,2023-10-13 05:24:22,2023-10-13 05:26:05
2,tt0069049,The Other Side of the Wind,2018.0,122,2023-10-13 05:24:22,2023-10-13 05:26:05
3,tt0088751,The Naked Monster,2005.0,100,2023-10-13 05:24:22,2023-10-13 05:26:05
4,tt0096056,Crime and Punishment,2002.0,126,2023-10-13 05:24:22,2023-10-13 05:26:05

In [56]:
q = '''DESCRIBE title_basics;'''
describe = pd.read_sql(q, engine)
describe

,Field,Type,Null,Key,Default,Extra
0,tconst,varchar(12),YES,,None,
1,primary_title,text,YES,,None,
2,start_year,double,YES,,None,
3,runtime,bigint,YES,,None,
4,created_at,datetime,YES,,CURRENT_TIMESTAMP,DEFAULT_GENERATED
5,updated_at,datetime,YES,,CURRENT_TIMESTAMP,DEFAULT_GENERATED on update CURRENT_TIMESTAMP