# Part 3A - EDA
- Darlene Adams

In [11]:
# Imports
import numpy as np
import pandas as pd
pd.set_option('display.max_columns',50)
import missingno as msno
import seaborn as sns
import matplotlib.pyplot as plt
import os, json, math, time
from tqdm.notebook import tqdm_notebook
import glob
import tmdbsimple as tmdb
import sqlalchemy
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [25]:
import glob
q = "Data/final_tmdb_data*.csv.gz"
year_files = glob.glob(q)
# Show files
year_files

['Data\\final_tmdb_data_2001.csv.gz', 'Data\\final_tmdb_data_2002.csv.gz']

In [24]:
## Loading all files as df and appending to a list
df_list = []
for file in year_files:
    temp_df = pd.read_csv(file, sep='\t', index_col=0)
    df_list.append(temp_df)
    
## Concatenating the list of dfs into 1 combined
df_combined = pd.concat(df_list)
df_combined

Empty DataFrame
Columns: []
Index: [0, 0]

In [28]:
# Use glob to get all filepaths that match the pattern (*=wildcard)
tmdb_files = (glob.glob("Data/final_tmdb_data*.csv.gz"))
tmdb_files

['Data\\final_tmdb_data_2001.csv.gz', 'Data\\final_tmdb_data_2002.csv.gz']

In [29]:
# Use read_csv in a list comprehension and combine with concat to load all files
mdf = pd.concat([pd.read_csv(f) for f in tmdb_files] )
mdf.head()

   imdb_id
0        0
0        0

In [31]:
mdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 0 to 0
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   imdb_id  2 non-null      int64
dtypes: int64(1)
memory usage: 32.0 bytes

In [ ]:
mdf.describe()

In [ ]:
mdf['budget'].value_counts()

How many movies had at least some valid financial information (values > 0 for budget OR revenue)?
Please exclude any movies with 0's for budget AND revenue from the remaining visualizations.

In [ ]:
mdf_budget.value_counts()

In [ ]:
mdf_rev.value_counts()

In [ ]:
# function
def plot_categorical_vs_target(df, x, y, dmin, dmax, ylbl, figsize=(6,4),
                            fillna = True, placeholder = 'MISSING',
                            order = None, ):
  # Make a copy of the dataframe and fillna 
  temp_df = df.copy()
  # fillna with placeholder
  if fillna == True:
    temp_df[x] = temp_df[x].fillna(placeholder)
  
  # or drop nulls prevent unwanted 'nan' group in stripplot
  else:
    temp_df = temp_df.dropna(subset=[x]) 
  # Create the figure and subplots
  fig, ax = plt.subplots(figsize=(6,4))
  
    # Barplot 
  sns.barplot(data=temp_df, x=x, y=y, ax=ax, order=order, alpha=0.6,
              linewidth=1, edgecolor='black', errorbar=None)
  
  # Boxplot
  sns.stripplot(data=temp_df, x=x, y=y, hue=x, ax=ax, 
                order=order, hue_order=order, legend=False,
                edgecolor='white', linewidth=0.5,
                size=3,zorder=0)
  # Rotate xlabels
  ax.set_xticklabels(ax.get_xticklabels(), rotation=45, ha='right')
  ax.set_yticklabels(ylbl)

  ax.set_ylim(dmin, dmax)  
  
  # Add a title
  ax.set_title(f"{x} vs. {y}")
  fig.tight_layout()
  return fig, ax

In [ ]:
def count_plot(data,col):
    ord = data[col].value_counts().index
    col_name = col.replace("_"," ")
    g = sns.countplot(data=data, x=col, order=ord)
    g.set(title=f'Count of {col_name}', xlabel=col_name, ylabel="Count");
    plt.xticks(rotati

In [ ]:
# Setting financial information 
df = years
df.info()

In [ ]:
drop_filter = df.query('budget <= 0 & revenue <= 0 ')
drop_filter.head(3)

In [ ]:
df.drop(drop_filter.index, inplace=True)

In [ ]:
df.info()